# HUME_API_KEY="<YOUR API KEY>"
# HUME_SECRET_KEY="<YOUR SECRET KEY>"
# old
# HUME_API_KEY="lYPjZTZpkkXHgaeB6pwf8vqEKCBb2692ECbl7gtviG00Y9PZ"
# HUME_SECRET_KEY="RKbjxnRkJy95d9doZ9VM9kz6w6nDczo6862i27KoLuF05mFVFm7ydSimW1646AFd"

# new
HUME_API_KEY="QxGxInO8ebu98Kczxb69pOASiU0fomcfItfTr46lzYJf6FWg"
HUME_SECRET_KEY="CxeCZQhezO13hWYkzzIm4e82FtxEor8NoA9WM31qnpxgJeTp6ZD1JWzBquTbudZe"